[submodule "assignment-repos/user-guide-annual-review"]
	path = assignment-repos/user-guide-annual-review
	url = git@github.com:stat-assignments/user-guide-annual-review.git
[submodule "assignment-repos/annotated-bibliography"]
	path = assignment-repos/annotated-bibliography
	url = git@github.com:stat-assignments/annotated-bibliography.git
[submodule "assignment-repos/business-report"]
	path = assignment-repos/business-report
	url = git@github.com:stat-assignments/business-report.git
